.section-two {
    background-color: #fff;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.project-container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
}

.project {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    &__one {
        width: 100%;
        min-height: 48%;
        background-color: lightcoral;
        transition: transform 0.4s, opacity 0.5s ease-in-out;
        transform: translateX(-30%);
        opacity: 0;
        border-bottom-right-radius: 10rem;
        overflow: hidden;
    }
    &__two {
        width: 100%;
        min-height: 48%;
        background-color: lightcoral;
        transition: transform 0.4s, opacity 0.5s ease-in-out;
        transform: translateX(-30%);
        opacity: 0;
        border-top-right-radius: 10rem;
        overflow: hidden;
    }
    &__three {
        width: 100%;
        min-height: 48%;
        background-color: lightcoral;
        transition: transform 0.4s, opacity 0.5s ease-in-out;
        transform: translateX(30%);
        opacity: 0;
        border-bottom-left-radius: 10rem;
        overflow: hidden;
    }
    &__four {
        width: 100%;
        min-height: 48%;
        background-color: lightcoral;
        transition: transform 0.4s, opacity 0.5s ease-in-out;
        transform: translateX(30%);
        opacity: 0;
        border-top-left-radius: 10rem;
        overflow: hidden;
    }
}

//animation slide in
.slide-in.active-slide {
    opacity: 1;
    transform: translateX(0%);
}
//animation slide in